@charset "UTF-8";
@font-face {
    font-family: 'icons-location';
    src: url('fonts/icons-location.eot?42273337');
    src: url('fonts/icons-location.eot?42273337#iefix') format('embedded-opentype'), url('fonts/icons-location.woff2?42273337') format('woff2'), url('fonts/icons-location.woff?42273337') format('woff'), url('fonts/icons-location.ttf?42273337') format('truetype'), url('fonts/icons-location.svg?42273337#icons-location') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons-location';
    src: url('fonts/icons-location.svg?42273337#icons-location') format('svg');
  }
}
*/

[class^="iconloc-"]:before,
[class*=" iconloc-"]:before {
    font-family: "icons-location";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.iconloc-first-aid-kit:before {
    content: '\e800';
}


/* '' */

.iconloc-mortarboard:before {
    content: '\e801';
}


/* '' */

.iconloc-shopping-cart:before {
    content: '\e802';
}


/* '' */

.iconloc-tree:before {
    content: '\e803';
}


/* '' */

.iconloc-dumbbell:before {
    content: '\e804';
}


/* '' */

.iconloc-eye:before {
    content: '\e805';
}


/* '' */

.iconloc-teddy-bear:before {
    content: '\e806';
}


/* '' */

.iconloc-eye-see:before {
    content: '\e807';
}


/* '' */

.iconloc-phone:before {
    content: '\e808';
}


/* '' */

.iconloc-mail:before {
    content: '\e809';
}


/* '' */

.iconloc-right-arrow:before {
    content: '\e80a';
}


/* '' */

.iconloc-left-arrow:before {
    content: '\e80b';
}


/* '' */

.iconloc-left-arrow-b:before {
    content: '\e80c';
}


/* '' */

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

.wrapper {
    background: url("../images/bg-blur.jpg") center no-repeat;
}

.content {
    width: 67%;
    position: absolute;
    z-index: 10;
    left: 17%;
    pointer-events: none;
    max-width: 1300px;
}

.scale-element {
    transform: none !important;
}

.content-wrap h1 {
    pointer-events: auto;
}

.content-wrap h2 {
    pointer-events: auto;
}

.content-wrap {
    margin: auto;
    padding: 0 2%;
}

h1,
h2 {
    width: 100%;
}

h1 {
    font-size: 4.35vw;
}

h2 {
    padding-bottom: 2.1vw;
    font-size: 2.13vw;
}

@media (min-width: 1920px) {
    h1 {
        font-size: 86px;
    }
    h2 {
        padding-bottom: 40px;
        font-size: 41px;
    }
}

.content-text {
    width: 100%;
    overflow-x: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    position: relative;
    transform-origin: left top;
}

.content-text p:first-child {
    margin-top: 0;
}

.content-text p {
    margin: 20px 0;
    padding-right: 50px;
}

.content-text p::before,
.content-text p::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

.content-text p > img {
    width: 50%;
    padding-right: 50px;
    margin: 20px 0;
    float: left;
}

#contactsMap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#contactsMap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: url("../images/location-bg.png") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.content-text {
    overflow: visible;
}

.office-container {
    margin-top: 95px;
    width: 462px;
    position: relative;
    transition: .5s linear;
    z-index: 1;
    transform-origin: left top;
}

.office-container.small {
    opacity: 0.5;
}

.office-container .office {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.office-container .office:first-child {
    display: block;
}

.office-container .office-inner {
    background: rgba(0, 151, 111, 0.8);
    color: #fff;
    font-weight: 300;
    pointer-events: auto;
    padding: 35px 50px;
    font-size: 22.8px;
    display: inline-block;
    width: 462px;
}

.office-container .office-inner .marker-info {
    display: none;
}

.office-container .office-inner > div {
    margin-bottom: 35px;
}

.office-container .office-inner > div:last-child {
    margin-bottom: 0;
}

.office-container .office-inner h5 {
    font-size: 32px;
    line-height: 34px;
}

.office-container .office-inner p {
    margin: 0;
    padding-bottom: 10px;
    font-weight: 100;
}

.office-container .office-inner a {
    font-size: 22.8px;
}

.office-container .office-inner .worktime span {
    display: block;
}

.office-container .office-inner .contact-info a {
    color: #fff;
    text-decoration: none;
}

.office-container .office-inner .contact-info i {
    display: inline-block;
    margin-right: 30px;
    font-size: 16px;
    vertical-align: middle;
}

.office-container .office-inner .buttons {
    margin: 0 -20px;
    white-space: nowrap;
}

.office-container .office-inner .buttons .driving-direction {
    width: 170px;
    text-align: center;
}

.office-container .office-inner .buttons .get-direction {
    width: 212px;
    text-align: center;
}

.office-container .office-inner .buttons .get-direction span {
    left: 28px;
}

.office-container .office-inner .buttons a {
    background: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 39px;
    color: #00976f;
    margin-right: 20px;
    display: inline-block;
    transition: .3s linear;
    position: relative;
    padding-right: 10px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.office-container .office-inner .buttons a span {
    color: #00976f;
    position: absolute;
    opacity: 0;
    transition: .3s linear;
    font-weight: 500;
    left: 27px;
    top: 0;
}

.office-container .office-inner .buttons a:hover {
    color: transparent;
}

.office-container .office-inner .buttons a:hover span {
    opacity: 1;
}

.office-container .office-inner .buttons a:hover i {
    opacity: 0.7
}

.office-container .office-inner .buttons a:last-child {
    margin-right: 0;
}

.office-container .office-inner .buttons a i {
    color: #00976f;
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    top: 0px;
    right: 16px;
    position: absolute;
    transform: rotate(180deg);
    opacity: 0.5;
}

.office-container .office-inner .buttons a i:before {
    font-weight: 600;
}

#map-popup {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 12;
}

#map-popup:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
}

#map-popup .popup-inner {
    width: 400px;
    padding: 30px;
    background: rgba(0, 151, 111, 0.8);
    z-index: 15;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -200px;
    margin-top: -50px;
    text-align: center;
}

#map-popup .popup-inner a {
    color: #fff;
    text-decoration: none;
}

#direction-popup {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 12;
}

#direction-popup:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
}

#direction-popup .popup-inner {
    z-index: 15;
    margin-top: 100px;
    text-align: center;
}

#direction-popup img {
    max-width: 100%;
}

.hidden-block {
    opacity: 0 !important;
    transition: 0s linear !important;
}

.form-container {
    pointer-events: auto;
    display: inline-block;
    transition: .5s linear;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transform-origin: left top;
}

.form-container.small {
    opacity: 0.5;
}

.form-container form {
    width: 420px;
    outline: 0;
}

.form-container * {
    outline: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

form {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    text-align: left;
}

.input-container {
    position: relative;
    margin-bottom: 22px;
}

input,
.textarea,
.hide-textarea {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 48px;
    font-size: 24px;
    color: #fff;
    line-height: 48px;
    border: none;
    font-family: 'Open Sans';
    font-weight: 300;
}

.textarea {
    max-height: 148px;
    min-height: 48px;
    font-size: 20px;
    line-height: 24px;
    resize: none;
    overflow: hidden;
}

.hide-textarea {
    position: absolute;
    white-space: pre-wrap;
    visibility: hidden;
    pointer-events: none;
}

.hide-textarea span {
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 28px;
}

.input-container input:hover~label,
.input-container input:focus~label,
.input-container.active label,
.input-container .textarea:hover~label,
.input-container .textarea:focus~label {
    -ms-transform: translate(-12%, -80%) scale(0.75);
    -webkit-transform: translate(-12%, -80%) scale(0.75);
    transform: translate(-12%, -80%) scale(0.75);
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 44px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

.input-container .bar:before,
.input-container .bar:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.input-container .bar:before {
    left: 50%;
}

.input-container .bar:after {
    right: 50%;
}

.input-container input:focus~.bar:before,
.input-container input:focus~.bar:after,
.input-container .textarea:focus~.bar:before,
.input-container .textarea:focus~.bar:after {
    width: 50%;
}

.input-container .bar:before,
.input-container .bar:after {
    background: #fff;
}

.input-container label {
    color: #fff;
}

.input-container .bar {
    background: #fff;
}

.input-container input:hover~label,
.input-container.active label,
.input-container input:focus~label {
    color: #fff;
}

#form-submit {
    margin-top: 55px;
    position: relative;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    padding: 16px 67px 20px 42px;
    background: rgba(0, 151, 111, 0.4);
    border: none;
    border-radius: 60px;
    font-family: 'Open Sans';
    font-weight: 300;
    outline: none;
}

#form-submit span {
    position: absolute;
    font-size: 14px;
    right: 37px;
    top: 19px;
    color: transparent;
}

#form-submit span:after {
    content: '\e80c';
    font-family: "icons-location";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    color: #fff;
    transform: rotate(180deg);
}

#form-submit:hover {
    cursor: pointer;
    background: rgba(0, 151, 111, 1);
}

.btn-more {
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.btn-more-wrap {
    display: inline-block;
}

.btn-more-wrap * {
    display: inline-block;
    vertical-align: middle;
}

.btn-more-wrap span {
    width: 10px;
    height: 10px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
}

.btn-more-wrap .btn-arrows-left span {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.btn-more-wrap .btn-arrows-left span:first-child {
    position: relative;
    left: 5px;
}

.btn-more-wrap .btn-arrows-right span {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.btn-more-wrap .btn-arrows-right span:last-child {
    position: relative;
    right: 5px;
}

.btn-more-wrap:hover .btn-arrows-left span:first-child {
    -webkit-animation: more-anim 1s linear 0.6s infinite;
    animation: more-anim 1s linear 0.6s infinite;
}

.btn-more-wrap:hover .btn-arrows-left span:last-child {
    -webkit-animation: more-anim 1s linear 0s infinite;
    animation: more-anim 1s linear 0s infinite;
}

.btn-more-wrap:hover .btn-arrows-right span:first-child {
    -webkit-animation: more-anim 1s linear 0s infinite;
    animation: more-anim 1s linear 0s infinite;
}

.btn-more-wrap:hover .btn-arrows-right span:last-child {
    -webkit-animation: more-anim 1s linear 0.6s infinite;
    animation: more-anim 1s linear 0.6s infinite;
}

@-webkit-keyframes more-anim {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes more-anim {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*# sourceMappingURL=contacts.css.map */
