@charset "UTF-8";
@font-face {
    font-family: 'icons-location';
    src: url("fonts/icons-location.eot?38470645");
    src: url("fonts/icons-location.eot?38470645#iefix") format("embedded-opentype"), url("fonts/icons-location.woff2?38470645") format("woff2"), url("fonts/icons-location.woff?38470645") format("woff"), url("fonts/icons-location.ttf?38470645") format("truetype"), url("fonts/icons-location.svg?38470645#icons-location") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="iconloc-"]:before,
[class*=" iconloc-"]:before {
    font-family: "icons-location";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.iconloc-first-aid-kit:before {
    top: -2px;
    position: relative;
    content: '\e800';
}


/* 'юаА' */

.iconloc-mortarboard:before {
    content: '\e801';
}


/* 'юаБ' */

.iconloc-shopping-cart:before {
    content: '\e802';
}


/* 'юаВ' */

.iconloc-tree:before {
    content: '\e803';
}


/* 'юаГ' */

.iconloc-dumbbell:before {
    content: '\e804';
}


/* 'юаД' */

.iconloc-eye:before {
    content: '\e805';
}


/* 'юаЕ' */

.iconloc-teddy-bear:before {
    content: '\e806';
}


/* 'юаЖ' */

.iconloc-eye-see:before {
    content: '\e807';
}


/* 'юаЗ' */

.iconloc-instagram:before {
    content: '\f32d';
}


/* 'яМн' */

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

.content {
    width: 67%;
    position: absolute;
    z-index: 10;
    left: 17%;
    pointer-events: none;
    max-width: 1300px;
}

.content-text {
    transform-origin: left top;
}

#locationMap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#locationMap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: url("../images/location-bg.png") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

#locationInfo {
    display: none;
}

.location-popup-container .location-popup {
    display: none;
}

.location-popup-inner {
    position: relative;
    width: 252px;
    height: 106px;
}

.location-popup-inner.white-color {
    width: 162px;
    height: 19px;
}

.location-popup-inner.white-color .location-popup {
    width: 200px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 35px;
    bottom: -65px;
    left: -9px;
}

.location-popup-inner.white-color .location-popup h5 {
    color: #00976f;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 0;
}

@keyframes markerShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.location-popup {
    box-shadow: 9px -3px 28px 6px rgba(0, 0, 0, 0.3);
    background: rgba(30, 142, 114, 0.8);
    width: 280px;
    left: -4px;
    bottom: -57px;
    padding: 20px 20px 35px;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.location-popup:after {
    content: "";
    background: url(../image/marker-white.png) no-repeat center center;
    width: 57px;
    height: 83px;
    position: absolute;
    top: 100%;
    margin-top: -29px;
    left: 50%;
    margin-left: -28.5px;
    opacity: 0;
    transition: .3s linear 2s;
}

.location-popup .saloon-img {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.location-popup h5 {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
    z-index: 1;
}

.location-popup p {
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
    font-weight: 100;
}

.location-popup p span {
    width: 100%;
    display: block;
}

.location-popup img {
    z-index: 1;
}

.location-hide {
    display: inline-block;
    pointer-events: auto;
    opacity: 0.7;
    transition: .3s linear;
    cursor: pointer;
    margin-bottom: 40px;
}

.location-hide span {
    font-weight: 300;
    font-family: 'Open Sans';
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    max-width: 115px;
    margin-left: 12px;
}

.location-hide i {
    font-size: 51px;
    vertical-align: middle;
    position: relative;
}

.location-hide i:after {
    content: "";
    position: absolute;
    left: 4px;
    top: 28.5px;
    transform: rotate(140deg);
    width: 85%;
    height: 2px;
    background: #fff;
    z-index: 1;
    opacity: 1;
    transition: .3s linear;
    -webkit-backface-visibility: hidden;
}

.location-hide.active i:after {
    opacity: 0;
}

.location-hide:hover {
    opacity: 0.9;
}

.location-filter .location-type {
    opacity: 0.7;
    transition: .3s linear;
    margin-bottom: 30px;
    padding-left: 14px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.location-filter .location-type:hover {
    opacity: 0.9;
}

.location-filter .location-type:last-child {
    margin-bottom: 0;
}

.location-filter .location-type.active {
    opacity: 1;
}

.location-filter .location-type.active i {
    background: #fff;
    color: #019770;
}

.location-filter .location-type i {
    pointer-events: auto;
    width: 50px;
    border: 1px solid #fff;
    transition: .3s linear;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 100px;
    font-size: 28px;
    margin-right: 20px;
    vertical-align: middle;
}

.location-filter .location-type span {
    pointer-events: auto;
    font-weight: 300;
    font-family: 'Open Sans';
    font-size: 18px;
    vertical-align: middle;
}

@media all and (max-width: 1370px) {
    .location-popup-inner {
        width: 201px;
    }
    .location-popup-inner.white-color .location-popup {
        bottom: -62px;
    }
    .location-popup {
        width: 230px;
        left: -4px;
        bottom: -53px;
        padding: 10px 15px 25px;
    }
    .location-popup:after {
        margin-top: -34px;
    }
    .location-popup h5 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .location-popup p {
        font-size: 15px;
        line-height: 18px;
    }
}

@media all and (max-height: 650px) {
    .location-hide {
        margin-bottom: 30px;
    }
    .location-filter .location-type {
        margin-bottom: 20px;
    }
}

.left-side,
.right-side {
    pointer-events: none;
}

.sandwich-wrap,
.header-logo,
.panel-2,
.big-menu,
.right-top {
    pointer-events: auto;
}


/*# sourceMappingURL=location.css.map */
