h2 {
  max-width: 500px; }

p {
  padding-left: 60px;
  padding-right: 60px; }

.section1 {
  background: url("../images/mobile-main1.jpg") no-repeat center center; }
  .section1 h1 {
    padding-top: 540px; }
    .section1 h1 span {
      font-size: 42px;
      font-weight: 300;
      font-family: 'Open Sans';
      display: block; }
  .section1 .logo {
    display: block;
    margin: 60px auto 40px; }
  .section1 .live-cam {
    position: relative;
    margin-left: 100px;
    display: inline-block; }
    .section1 .live-cam a {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1; }
      .section1 .live-cam a:hover + svg .web-cam-cent {
        animation: cam-anim 4s linear 0s infinite; }
    .section1 .live-cam svg {
      vertical-align: middle;
      display: inline-block;
      width: 41px;
      height: 41px; }
    .section1 .live-cam span {
      display: inline-block;
      color: #fff;
      font-weight: 300;
      font-size: 21px;
      margin-left: 20px;
      max-width: 90px;
      vertical-align: middle; }
    .section1 .live-cam .web-cam-cent {
      transform-origin: 50% 0; }

@-moz-keyframes cam-anim {
  25% {
    transform: rotateY(-50deg); }
  75% {
    transform: rotateY(50deg); }
  100% {
    transform: rotateY(0); } }

@-webkit-keyframes cam-anim {
  25% {
    transform: rotateY(-50deg); }
  75% {
    transform: rotateY(50deg); }
  100% {
    transform: rotateY(0); } }

@-o-keyframes cam-anim {
  25% {
    transform: rotateY(-50deg); }
  75% {
    transform: rotateY(50deg); }
  100% {
    transform: rotateY(0); } }

@keyframes cam-anim {
  25% {
    transform: rotateY(-50deg); }
  75% {
    transform: rotateY(50deg); }
  100% {
    transform: rotateY(0); } }

.section2 {
  padding: 50px 0; }
  .section2 img {
    padding: 40px 0; }
  .section2 .mobile-scroll {
    display: none; }
  .section2 .links {
    padding: 20px 0; }
    .section2 .links:after {
      content: "";
      display: table;
      clear: both; }
    .section2 .links a {
      width: 50%;
      float: left;
      text-align: center; }
      .section2 .links a i {
        vertical-align: middle;
        color: #00976f;
        display: inline-block;
        height: 44px;
        font-size: 37px;
        padding-right: 20px;
        box-sizing: border-box; }
      .section2 .links a img {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        padding-right: 20px;
        padding-top: 3px; }
      .section2 .links a span {
        vertical-align: middle;
        display: inline-block;
        max-width: 200px;
        text-align: left;
        font-size: 20px;
        font-weight: 300; }

.section3 {
  height: 70vh;
  margin: 30px 0; }
  .section3 .container {
    height: 100%; }
  .section3 h2 {
    position: absolute;
    width: 100%;
    max-width: none;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 2; }
  .section3 #locationMap {
    position: absolute;
    left: 42px;
    top: 0;
    right: 42px;
    bottom: 0; }
    .section3 #locationMap:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 25%;
      z-index: 1;
      background: transparent;
      background: -moz-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.7) 160%);
      background: -webkit-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.7) 160%);
      background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.7) 160%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#000000',GradientType=0 ); }
    .section3 #locationMap:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40%;
      z-index: 0;
      pointer-events: none;
      background: transparent;
      background: -moz-linear-gradient(top, transparent 25%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-linear-gradient(top, transparent 25%, rgba(0, 0, 0, 0.8) 100%);
      background: linear-gradient(to bottom, transparent 25%, rgba(0, 0, 0, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#000000',GradientType=0 ); }
  .section3 #locationInfo {
    display: none; }
  .section3 .location-popup-container .location-popup {
    display: none; }
  .section3 .location-popup-inner {
    position: relative;
    width: 201px;
    height: 106px; }
    .section3 .location-popup-inner.white-color {
      width: 162px;
      height: 19px; }
      .section3 .location-popup-inner.white-color .location-popup {
        width: 200px;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px 10px 35px;
        bottom: -71px;
        left: -9px; }
        .section3 .location-popup-inner.white-color .location-popup h5 {
          font-family: Roboto;
          color: #00976f;
          font-weight: 400;
          font-size: 19px;
          margin-bottom: 0; }
  .section3 .location-popup {
    box-shadow: 9px -3px 28px 6px rgba(0, 0, 0, 0.3);
    background: rgba(30, 142, 114, 0.8);
    width: 230px;
    left: -4px;
    bottom: -70px;
    padding: 10px 15px 25px;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    color: #fff; }
    .section3 .location-popup:after {
      content: "";
      width: 57px;
      height: 83px;
      position: absolute;
      top: 100%;
      margin-top: -34px;
      left: 50%;
      margin-left: -28.5px; }
  .section3 .location-popup .saloon-img {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0; }
  .section3 .location-popup h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 100;
    color: #fff;
    z-index: 1; }
  .section3 .location-popup p {
    font-size: 15px;
    line-height: 18px;
    z-index: 1;
    font-weight: 100;
    padding: 0; }
  .section3 .location-popup p span {
    width: 100%;
    display: block; }
  .section3 .location-popup img {
    z-index: 1; }
  .section3 .content-text {
    z-index: 1;
    position: absolute;
    bottom: 30px;
    left: 80px;
    right: 80px;
    width: auto; }
  .section3 .location-hide {
    float: left;
    pointer-events: auto;
    opacity: 0.7;
    color: #fff;
    transition: .3s linear;
    cursor: pointer; }
    .section3 .location-hide span {
      font-weight: 300;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 18px;
      vertical-align: middle;
      display: inline-block;
      max-width: 115px; }
    .section3 .location-hide i {
      font-size: 51px;
      vertical-align: middle;
      position: relative; }
      .section3 .location-hide i:after {
        content: "";
        position: absolute;
        left: 6.5px;
        top: 34.5px;
        transform: rotate(140deg);
        width: 85%;
        height: 2px;
        background: #fff;
        z-index: 1;
        opacity: 1;
        transition: .3s linear;
        -webkit-backface-visibility: hidden; }
    .section3 .location-hide.active i:after {
      opacity: 0; }
    .section3 .location-hide:hover {
      opacity: 0.9; }
  .section3 .location-filter {
    float: right; }
    .section3 .location-filter .location-type {
      opacity: 0.7;
      transition: .3s linear;
      display: inline-block;
      cursor: pointer;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden; }
      .section3 .location-filter .location-type:hover {
        opacity: 0.9; }
      .section3 .location-filter .location-type:last-child {
        margin-bottom: 0; }
      .section3 .location-filter .location-type.active {
        opacity: 1; }
        .section3 .location-filter .location-type.active i {
          background: #fff;
          color: #019770; }
      .section3 .location-filter .location-type i {
        pointer-events: auto;
        width: 50px;
        border: 1px solid #fff;
        transition: .3s linear;
        display: inline-block;
        text-align: center;
        color: #fff;
        height: 50px;
        line-height: 50px;
        border-radius: 100px;
        font-size: 28px;
        margin-right: 5px;
        vertical-align: middle; }
      .section3 .location-filter .location-type span {
        pointer-events: auto;
        font-weight: 300;
        font-family: 'Open Sans';
        font-size: 18px;
        vertical-align: middle; }

.section4 {
  padding: 30px 0; }

.section5 .slick-arrow {
  position: absolute;
  top: 45px;
  right: 50%;
  margin-right: 165px;
  border: none;
  border-radius: 100px;
  background: rgba(0, 151, 111, 0.8);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  padding-right: 5px;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1; }
  .section5 .slick-arrow.slick-next {
    right: auto;
    left: 50%;
    margin-left: 165px;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 0; }

.section5 .slide {
  text-align: center; }
  .section5 .slide i {
    color: #00976f;
    width: 115px;
    line-height: 115px;
    height: 115px;
    border: 1px solid #00976f;
    font-size: 70px;
    border-radius: 200px;
    display: inline-block;
    margin: 15px 0; }
    .section5 .slide i.icon-park {
      font-size: 55px; }
      .section5 .slide i.icon-park:before {
        position: relative;
        left: -7px; }
  .section5 .slide h4 {
    padding: 25px 0;
    color: #00976f;
    font-size: 30px;
    font-weight: 300;
    font-family: Roboto; }

.section6 {
  border-bottom: 2px solid #00976f; }
  .section6 ul {
    padding-left: 62px;
    padding-right: 62px;
    margin-top: 50px; }
  .section6 li {
    position: relative;
    margin-bottom: 40px;
    font-family: Roboto; }
    .section6 li:before {
      content: "";
      position: absolute;
      left: -50px;
      top: 8px;
      width: 11px;
      height: 11px;
      background: #00976f;
      border-radius: 20px; }
    .section6 li:after {
      content: "";
      position: absolute;
      right: 100%;
      margin-right: 50px;
      top: 12px;
      width: 500px;
      height: 2px;
      background: #00976f; }

.section7 {
  padding: 35px 0 10px; }

.section8 h3 {
  padding: 10px 0 50px; }

.section9 {
  padding-bottom: 50px;
  border-bottom: 2px solid #00976f; }
  .section9 .pertners {
    max-width: 665px;
    margin: 30px auto;
    text-align: center; }
    .section9 .pertners img {
      display: inline-block;
      margin-bottom: 30px;
      padding: 0 22px; }

.section10 {
  padding: 40px 0; }
  .section10 ul {
    padding: 30px 62px 0;
    max-width: 600px;
    margin: 0 auto; }
  .section10 li {
    position: relative;
    margin-bottom: 30px;
    padding-right: 90px;
    font-family: Roboto; }
    .section10 li a {
      position: absolute;
      right: 0;
      top: 0;
      color: #00976f;
      font-size: 35px; }

@media all and (max-width: 767px) {
  p{
    padding-left: 0;
    padding-right: 0;
  }
  .section1 {
    padding: 25px 0; }
    .section1 h1 {
      padding-top: 325px; }
      .section1 h1 span {
        font-size: 31px;
        font-family: Roboto;
        font-weight: 100; }
    .section1 .logo {
      max-width: 75px;
      padding: 0;
      margin: 20px auto; }
    .section1 .live-cam {
      margin-left: 25px; }
      .section1 .live-cam svg {
        width: 26px;
        height: 26px; }
      .section1 .live-cam span {
        font-size: 12px;
        max-width: 45px;
        margin-left: 10px; }
  .section2 {
    padding: 25px 0; }
    .section2 img {
      padding: 10px 0; }
    .section2 .mobile-scroll {
      display: block;
      margin-bottom: -30px; }
    .section2 .links a img {
      width: 25px;
      display: block;
      margin: 0 auto;
      padding: 0; }
    .section2 .links a i {
      height: 27px;
      font-size: 28px;
      padding: 0;
      display: block; }
    .section2 .links a span {
      margin-top: 20px;
      font-size: 14px;
      text-align: center; }
    .section2 .links a:first-child span {
      max-width: 80px; }
    .section2 .links a:last-child span {
      max-width: 150px; }
  .section3 {
    height: 575px;
    margin: 10px 0; }
    .section3 #locationMap {
      left: 0;
      right: 0; }
    .section3 .content-text {
      text-align: center; }
    .section3 .location-filter {
      display: none; }
    .section3 .location-hide {
      white-space: nowrap;
      float: none;
      display: inline-block;
      text-align: left; }
      .section3 .location-hide span {
        font-size: 13.5px;
        max-width: 100px;
        white-space: normal; }
      .section3 .location-hide i {
        font-size: 39px; }
        .section3 .location-hide i:after {
          left: 8px;
          top: 28px;
          width: 72%;
          height: 1px; }
  .section4 {
    padding: 10px 0; }
  .section5 .slick-arrow {
    margin-right: 90px;
    top: 30px;
    width: 33px;
    height: 33px;
    line-height: 32px;
    font-size: 14px;
    padding-right: 3px; }
    .section5 .slick-arrow.slick-next {
      margin-left: 90px;
      padding-left: 2px; }
  .section5 .slide i {
    width: 64px;
    height: 64px;
    line-height: 62px;
    font-size: 37px; }
    .section5 .slide i.icon-park {
      font-size: 34px; }
      .section5 .slide i.icon-park:before {
        left: -5px; }
  .section5 .slide h4 {
    font-size: 19px;
    padding: 10px 0; }
  .section6 ul {
    padding-left: 45px;
    padding-right: 0;
    margin-top: 25px;
    padding-bottom: 25px; }
  .section6 li {
    margin-bottom: 20px; }
    .section6 li:before {
      left: -30px;
      top: 6px;
      width: 6px;
      height: 6px; }
    .section6 li:after {
      margin-right: 29px;
      top: 8.3px;
      height: 1px; }
  .section7 {
    padding-top: 20px; }
    .section7 img {
      max-width: 100px; }
  .section8 h3 {
    padding-bottom: 40px; }
  .section9 {
    padding-bottom: 10px; }
    .section9 .pertners {
      max-width: 350px;
      margin: 10px auto; }
      .section9 .pertners img {
        max-width: 105px;
        padding: 0 12px;
        margin-bottom: 20px; }
  .section10 {
    padding: 20px 0; }
    .section10 ul {
      padding: 25px 0 0; }
    .section10 li {
      margin-bottom: 20px;
      padding-right: 50px; }
      .section10 li a {
        font-size: 29px; } }
