.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans';
  outline: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
html,
body,
.wrapper {
  height: 100%;
}
body {
  background: #14223e;
}
.wrapper {
  padding: 1.3%;
  position: relative;
  color: #fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1,
h2 {
  width: 100%;
}
h1 {
  font-size: 4.35vw;
}
h2 {
  padding-bottom: 2.1vw;
  font-size: 2.13vw;
}
@media (min-width: 1920px) {
  h1 {
    font-size: 86px;
  }
  h2 {
    padding-bottom: 40px;
    font-size: 41px;
  }
}
.left-side {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.3%;
  opacity: 0;
  -webkit-transition: opacity 1s linear, z-index 0.1s linear;
  transition: opacity 1s linear, z-index 0.1s linear;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}
.left-side > * {
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.panel-2 {
  margin: 23px 0;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  width: 90%;
}
.panel-text {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  margin-left: 6px;
  font-size: 11px;
  line-height: 17px;
  font-weight: 100;
}
.arrow-to-main {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
}
.arrow-to-main i {
  font-size: 18px;
}
.arrow-to-main i::before {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.arrow-to-main span {
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 11px;
  font-weight: 300;
}
.arrow-to-main:hover i::before {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
.arrow-to-main:hover span {
  opacity: 1;
}
.sandwich-wrap {
  position: relative;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.menu-sandwich {
  display: block;
  margin: auto;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.7;
}
.menu-sandwich::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.menu-sandwich:hover {
  cursor: pointer;
  background: #fff;
  opacity: 1;
}
.menu-sandwich:hover .sandwich-item {
  background: #008000;
}
.menu-sandwich.rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.menu-sandwich.rotate .sandwich-item {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  width: 20px;
  margin: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.menu-sandwich.rotate .sandwich-item:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-1px, 0px);
      -ms-transform: rotate(-45deg) translate(-1px, 0px);
          transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-sandwich.rotate .sandwich-item:nth-child(2) {
  opacity: 0;
}
.menu-sandwich.rotate .sandwich-item:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}
.sandwich-items {
  display: inline-block;
  margin: -3px 0;
  vertical-align: middle;
}
.sandwich-item {
  width: 17px;
  height: 1px;
  margin: 4px 0;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header-logo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.4s linear 0.2s;
  transition: 0.4s linear 0.2s;
}
.header-logo img {
  width: 70px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header-logo:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
.menu-apartment {
  display: inline-block;
  width: 67px;
  height: 67px;
  margin-left: -9px;
  border-radius: 50%;
  background: rgba(70,86,95,0.51);
  text-align: center;
  font-size: 0;
}
.menu-apartment::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.menu-apart-white {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
}
.menu-apart-white::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.menu-apart-white:hover {
  cursor: pointer;
}
.menu-apart-items {
  display: inline-block;
  vertical-align: middle;
}
.menu-apart-item {
  position: relative;
  width: 20px;
  height: 1.6px;
  margin: 6px 0;
  background: #008000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.menu-apart-item span {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.6px solid #008000;
  background: #fff;
}
.menu-apart-item:nth-child(1) span {
  right: 20%;
}
.menu-apart-item:nth-child(2) span {
  right: 40%;
}
.menu-apart-item:nth-child(3) span {
  right: 20%;
}
.cam-wrap {
  display: inline-block;
  width: 50px;
  font-size: 0;
}
.live-cam {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.7);
  text-align: center;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.live-cam border-color,
.live-cam::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.live-cam svg {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}
.live-cam svg ellipse {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.live-cam:hover {
  cursor: pointer;
}
.live-cam .web-cam-cent {
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.live-cam:hover .web-cam-cent {
  -webkit-animation: cam-anim 4s linear 0s infinite;
          animation: cam-anim 4s linear 0s infinite;
}
.live-cam:hover .web-cam-cent ellipse:nth-child(2),
.live-cam:hover .web-cam-cent ellipse:nth-child(3) {
  stroke: #00976f;
}
@media (min-width: 1200px) {
  .arrow-to-main span {
    top: 3px;
    left: 12px;
    font-size: 13px;
  }
  .arrow-to-main i {
    font-size: 23px;
  }
  .sandwich-wrap,
  .cam-wrap {
    width: 70px;
  }
  .menu-sandwich {
    width: 44px;
    height: 44px;
    border: 1px solid #fff;
  }
  .menu-sandwich.rotate .sandwich-item {
    width: 20px;
  }
  .menu-sandwich.rotate .sandwich-item:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-1px, 0px);
        -ms-transform: rotate(-45deg) translate(-1px, 0px);
            transform: rotate(-45deg) translate(-1px, 0px);
  }
  .menu-sandwich.rotate .sandwich-item:nth-child(2) {
    opacity: 0;
  }
  .menu-sandwich.rotate .sandwich-item:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-1px, 0px);
        -ms-transform: rotate(45deg) translate(-1px, 0px);
            transform: rotate(45deg) translate(-1px, 0px);
  }
  .live-cam {
    width: 44px;
    height: 44px;
  }
  .live-cam svg {
    width: 22px;
  }
  .sandwich-items {
    margin: -2px 0;
  }
  .sandwich-item {
    width: 19px;
    height: 1px;
    margin: 4px 0;
  }
  .header-logo img {
    width: 80px;
  }
  .menu-apartment {
    margin-left: 0;
    width: 70px;
    height: 70px;
  }
  .menu-apart-white {
    width: 44px;
    height: 44px;
  }
  .menu-apart-item {
    width: 20px;
    height: 1.6px;
  }
  .menu-apart-item span {
    border: 1.6px solid #008000;
    width: 7px;
    height: 7px;
  }
  .panel-text {
    margin-left: 11px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1600px) {
  .arrow-to-main span {
    top: 17px;
    left: 16px;
    font-size: 14px;
  }
  .arrow-to-main i {
    font-size: 27px;
  }
  .sandwich-wrap,
  .cam-wrap {
    width: 80px;
  }
  .menu-sandwich {
    width: 54px;
    height: 54px;
    border: 2px solid #fff;
  }
  .menu-sandwich.rotate .sandwich-item {
    width: 24px;
  }
  .menu-sandwich.rotate .sandwich-item:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-2px, 1px);
        -ms-transform: rotate(-45deg) translate(-2px, 1px);
            transform: rotate(-45deg) translate(-2px, 1px);
  }
  .menu-sandwich.rotate .sandwich-item:nth-child(2) {
    opacity: 0;
  }
  .menu-sandwich.rotate .sandwich-item:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
        -ms-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
  }
  .live-cam {
    width: 54px;
    height: 54px;
    border: 2px solid rgba(255,255,255,0.7);
  }
  .live-cam svg {
    width: 25px;
  }
  .sandwich-items {
    margin: -2px 0;
  }
  .sandwich-item {
    width: 21px;
    height: 2px;
    margin: 4px 0;
  }
  .header-logo img {
    width: 133px;
  }
  .menu-apartment {
    width: 80px;
    height: 80px;
  }
  .menu-apart-white {
    width: 50px;
    height: 50px;
  }
  .menu-apart-item {
    width: 23px;
    height: 2px;
  }
  .menu-apart-item span {
    border: 2px solid #008000;
    width: 8px;
    height: 8px;
  }
  .panel-text {
    margin-left: 20px;
    font-size: 18px;
  }
}
.big-menu {
  position: absolute;
  visibility: hidden;
  padding: 1%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background: url("../images/menu-bg.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.bm-langs {
  position: absolute;
  display: inline-block;
  z-index: 1;
}
.bm-langs > * {
  display: inline-block;
  opacity: 0.3;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
}
.bm-langs > *:hover {
  cursor: pointer;
}
.bm-langs > *.active {
  opacity: 1;
}
.bm-wrap {
  max-width: 2000px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3% 0 1%;
  z-index: 0;
  font-size: 0;
  text-align: justify;
  white-space: normal;
}
.bm-wrap::after {
  content: '';
  display: inline-block;
  width: 100%;
}
.bm-wrap a {
  font-family: 'Open Sans';
  color: #fff;
  text-decoration: none;
}
.bm-column {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.bm-column ul {
  padding: 0;
}
.bm-column:hover .bm-link {
  color: #00976f;
}
.bm-link {
  display: block;
  padding: 4px 0;
  font-weight: 300;
  font-size: 2vw;
  line-height: 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 40px;
}
.bm-link span {
  padding-top: 7px;
  display: block;
}
.span-block {
  display: block;
}
.bm-sub-link {
  display: block;
  position: relative;
  padding-bottom: 25px;
  font-weight: 300;
  font-size: 1.1vw;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}
.bm-sub-link span {
  padding-top: 7px;
}
.bm-sub-link span:hover {
  color: #00976f;
}
.bm-line {
  position: absolute;
  top: 0;
  left: -20px;
  background: #fff;
  width: 1px;
  height: 0;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
}
.bm-circ {
  position: absolute;
  left: -23px;
  top: -7px;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
}
.empty {
  visibility: hidden;
  font-size: 2vw;
  line-height: 34px;
  width: 100%;
  display: block;
  font-weight: 300;
}
.bm-bot {
  height: 0;
  -webkit-transform: translateY(-158px);
      -ms-transform: translateY(-158px);
          transform: translateY(-158px);
  position: absolute;
  bottom: 3%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.bm-bot p {
  margin: 4px 0;
}
.bm-bot p:first-child {
  height: 0;
  margin: 0 0 84px;
}
.bm-bot p:first-child img {
  width: 133px;
}
.bm-bot p:nth-child(2) {
  height: 0;
  margin: 0 0 44px;
}
.bm-bot a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
}
.left-side.big {
  z-index: 100;
}
.left-side.big .big-menu {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}
.left-side.big .sandwich-wrap {
  z-index: 101;
}
@media (min-width: 1250px) {
  .bm-link {
    padding-bottom: 50px;
    font-size: 2.2vw;
  }
  .bm-sub-link {
    padding-bottom: 30px;
    font-size: 1.2vw;
  }
  .empty {
    font-size: 2.2vw;
  }
}
@media (min-width: 1500px) {
  .bm-link {
    padding-bottom: 80px;
    font-size: 36px;
  }
  .bm-sub-link {
    padding-bottom: 40px;
    font-size: 18px;
  }
  .empty {
    font-size: 36px;
  }
}
@-webkit-keyframes point-1 {
  0% {
    right: 20%;
  }
  40% {
    right: 65%;
  }
  90% {
    right: 0;
  }
  100% {
    right: 20%;
  }
}
@keyframes point-1 {
  0% {
    right: 20%;
  }
  40% {
    right: 65%;
  }
  90% {
    right: 0;
  }
  100% {
    right: 20%;
  }
}
@-webkit-keyframes point-2 {
  0% {
    right: 40%;
  }
  40% {
    right: 0;
  }
  80% {
    right: 65%;
  }
  100% {
    right: 40%;
  }
}
@keyframes point-2 {
  0% {
    right: 40%;
  }
  40% {
    right: 0;
  }
  80% {
    right: 65%;
  }
  100% {
    right: 40%;
  }
}
@-webkit-keyframes cam-anim {
  25% {
    -webkit-transform: rotateY(-50deg);
            transform: rotateY(-50deg);
  }
  75% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}
@keyframes cam-anim {
  25% {
    -webkit-transform: rotateY(-50deg);
            transform: rotateY(-50deg);
  }
  75% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}
.right-side {
  position: relative;
  z-index: 10;
  width: 23%;
  max-width: 250px;
  height: 100%;
  color: #fff;
  text-align: right;
  font-weight: 300;
  float: right;
  opacity: 0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.right-side a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.header-tel {
  font-size: 22px;
  line-height: 36px;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
}
.header-tel span {
  font-size: 30px;
}
.header-address,
.header-mail {
  font-size: 16px;
  line-height: 22px;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
.right-links {
  padding-top: 18px;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
.right-links > a {
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}
.lang {
  font-size: 18px;
}
.sub-preview {
  margin-top: 38px;
  text-align: right;
  width: 100%;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  font-size: 0;
}
.sub-preview > * {
  width: 50%;
  display: inline-block !important;
  vertical-align: top;
  text-align: center;
  opacity: 0.6;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.sub-preview > *:hover {
  opacity: 1;
  cursor: pointer;
}
.sub-preview span {
  display: block;
  padding-top: 24px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
}
.sub-preview svg {
  width: 28px;
  height: 22px;
}
.view-presentation {
  margin-left: 30px;
}
.movie {
  position: relative;
  display: inline-block;
}
.movie svg:hover .triangle {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.movie svg:hover .video-lines {
  -webkit-animation: lines-down 0.4s linear 0s infinite;
          animation: lines-down 0.4s linear 0s infinite;
}
.video-1,
.video-2 {
  fill: none;
  stroke: #fff;
}
.video-1 {
  stroke-miterlimit: 10;
}
.video-2 {
  stroke-linejoin: round;
}
.triangle {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a.callback {
  position: fixed;
  bottom: 100px;
  left: 1.3%;
  right: auto;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  display: block;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0,151,111,0.37);
  font-size: 0;
  z-index: 90;
}
a.callback::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
a.callback .callback-wrap {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}
a.callback .callback-wrap::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
a.callback .callback-wrap img {
  display: inline-block;
  vertical-align: middle;
}
@media (min-height: 750px) {
  a.callback {
    position: absolute;
    right: 1.3%;
    left: auto;
    bottom: 120px;
    -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}
@-webkit-keyframes lines-down {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@keyframes lines-down {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 7px;
  border-radius: 7px;
  background: #fff;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #fff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.mCSB_scrollTools {
  opacity: 1;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background: #fff;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
}
.mCSB_scrollTools .mCSB_dragger {
  height: 60px !important;
}
.mCSB_inside>.mCSB_container {
  margin-right: 8px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  height: 60px;
  width: 100%;
  font-size: 0;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  z-index: 11;
  text-align: center;
}
.footer > * {
  position: absolute;
}
.sub-foot {
  bottom: 40px;
}
.foot-left {
  top: 36%;
  left: 1.3%;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  z-index: 1;
}
.foot-left > * {
  display: inline-block;
  vertical-align: middle;
}
.foot-right {
  top: 9%;
  right: 1.3%;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: perspective(500px) translateZ(0);
          transform: perspective(500px) translateZ(0);
}
.foot-right > * {
  display: inline-block;
  vertical-align: middle;
}
.unna-dev img {
  width: 123px;
  height: 29px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.unna-dev:hover img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
.cube {
  margin-left: 55px;
  opacity: 0.6;
}
.cube img {
  tansform-origin: center;
  margin-right: 1px;
}
.cube:hover {
  opacity: 1;
  cursor: pointer;
}
.cube:hover img {
  -webkit-animation: cube-rotate 1.8s ease-in 0s infinite;
          animation: cube-rotate 1.8s ease-in 0s infinite;
}
.cube > * {
  display: inline-block;
  vertical-align: middle;
}
.cube .cube-text {
  width: 100px;
  font-size: 13px;
  font-weight: 100;
}
.cube.active {
  opacity: 1;
}
.on-site {
  margin-right: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.on-site > * {
  display: inline-block;
  vertical-align: middle;
}
.on-site-count {
  opacity: 0.3;
  font-size: 49px;
  line-height: 40px;
  font-weight: 200;
}
.on-site-text {
  width: 50px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  opacity: 0.5;
}
.fresh {
  margin-right: -11px;
  width: 165px;
  font-family: 'Roboto';
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  line-height: 15px;
  float: right;
  text-align: justify;
  cursor: pointer;
}
.creative,
.created {
  position: relative;
  top: 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 9.3px;
  color: #fff;
  height: 17px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.creative:after,
.created:after {
  content: '';
  width: 100%;
  display: inline-block;
}
.created {
  padding: 0 11px 3px 11px;
  letter-spacing: 3.44px;
}
.creative {
  padding: 3px 14.5px 0 12px;
  letter-spacing: 1.3px;
}
.fresh-logo {
  color: #ccc;
  font-size: 21.99px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  right: 2px;
}
.fresh-logo span {
  display: inline-block;
  width: 31px;
  -webkit-transition: all 0.5s linear, color 0.5s linear 0.35s;
  transition: all 0.5s linear, color 0.5s linear 0.35s;
  font-family: 'Conv_Vidaloka-Regular';
}
.fresh:hover > .creative {
  top: 10px;
  opacity: 0;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.fresh:hover > .created {
  top: -10px;
  opacity: 0;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.fresh:hover > a .fresh-logo span {
  width: 25px;
  color: #ef4136;
  -webkit-transition: all 0.5s linear, color 0.5s linear 0.35s;
  transition: all 0.5s linear, color 0.5s linear 0.35s;
}
.fresh:hover > a .fresh-logo {
  color: #ef4136;
  -webkit-transition: color 0.5s linear 0.3s;
  transition: color 0.5s linear 0.3s;
}
@media (min-width: 1800px) {
  .on-site {
    margin-right: 20px;
  }
}
@-webkit-keyframes cube-rotate {
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@keyframes cube-rotate {
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
.foot-menu {
  left: 17%;
  position: absolute;
  max-width: 1300px;
  font-size: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.foot-menu::after {
  content: '';
  width: 100%;
  display: inline-block;
}
.foot-line {
  width: 100%;
  font-size: 0;
  text-align: left;
}
.foot-line > * {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
}
.circ {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.circ span {
  position: absolute;
  font-size: 1vw;
  font-weight: 300;
  color: #fff;
  white-space: nowrap;
}
.circ:first-child {
  width: 25px;
  height: 25px;
  border-color: #00976f;
  opacity: 0.6;
}
.circ:first-child:hover {
  background: #00976f;
}
.circ:hover {
  background: #fff;
  opacity: 1;
  cursor: pointer;
}
.circ.pre-active {
  border-color: #00976f;
}
.circ.active {
  position: relative;
  width: 46px;
  height: 46px;
  opacity: 1;
  background: rgba(0,151,111,0.4);
  border: none;
}
.circ.active span {
  padding-top: 22px;
}
.circ.active::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background: rgba(0,151,111,0.8);
  border-radius: 50%;
  left: 9px;
  top: 9px;
}
.segment {
  height: 2px;
  width: 150px;
  background: #fff;
}
.segment.pre-active {
  background: #00976f;
}
@media (min-width: 1500px) {
  .circ span {
    font-size: 15px;
  }
}
.arrow-left,
.arrow-right {
  position: absolute;
  z-index: 10;
  top: 48%;
  opacity: 0.5;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}
.arrow-left > span,
.arrow-right > span {
  display: block;
  font-size: 28px;
  font-weight: 100;
}
.arrow-left > svg,
.arrow-right > svg {
  margin-top: -10px;
}
.arrow-left {
  left: 1.3%;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
.arrow-left svg {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow-right {
  right: 1.3%;
  text-align: right;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
}
.wrapper {
  background: url("../images/news-blur.jpg") center no-repeat;
  background-size: cover;
}
.to-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: blur-anim 2s linear 0s forwards;
          animation: blur-anim 2s linear 0s forwards;
}
.content {
  width: 67%;
  position: absolute;
  z-index: 10;
  left: 17%;
  max-width: 1300px;
}
.content-wrap {
  margin: auto;
  padding: 0 2%;
}
.content-text {
  height: 600px;
  font-size: 0;
  white-space: nowrap;
  position: relative;
}
.left-content,
.right-content {
  width: 67.52136752136752%;
  height: 100%;
  position: absolute;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  white-space: normal;
}
.left-content.smaller,
.right-content.smaller {
  -webkit-transform: scale(0.481927710843373);
      -ms-transform: scale(0.481927710843373);
          transform: scale(0.481927710843373);
  opacity: 0.7;
}
.left-content {
  left: 0;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  white-space: nowrap;
}
.left-content > * {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
.left-content::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.right-content {
  right: 0;
  overflow-x: auto;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
}
.action-wrap {
  padding: 10px 0 10px 60px;
  margin-bottom: 60px;
}
.action-head {
  position: relative;
  font-size: 1.6vw;
  margin-bottom: 20px;
}
.action-head::before {
  content: '';
  width: 31px;
  height: 1px;
  left: -52px;
  position: absolute;
  background: #fff;
  top: 50%;
}
.action-head::after {
  content: '';
  width: 7px;
  height: 7px;
  left: -21px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  margin-top: -3px;
}
.action-img {
  float: left;
  width: 33%;
  margin: 4px 20px 20px 0;
}
.action-img img {
  width: 100%;
}
.action-text {
  font-size: 1.3vw;
  font-weight: 100;
  height: 100px;
  overflow: hidden;
  margin-bottom: 30px;
  font-family: 'Open Sans';
}
.action-date {
  float: left;
  font-size: 1.6vw;
  font-weight: 100;
  font-family: 'Open Sans';
}
.action-more {
  float: right;
  text-decoration: none;
  padding-right: 10px;
  color: #fff;
}
.action-more::before {
  content: 'Читать дальше';
  font-size: 1.5vw;
  font-weight: 100;
}
.action-more svg {
  width: 17px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}
.action-wrap.active .action-img {
  width: 90%;
}
.action-wrap.active .action-text {
  overflow: visible;
  height: auto;
}
.action-wrap.active .action-more::before {
  content: 'Свернуть новость';
}
.action-wrap.active .action-more svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.form-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
}
.form-wrap::before,
.form-wrap::after {
  content: '';
  top: 50%;
  position: absolute;
  background: #fff;
}
.form-wrap::before {
  width: 30px;
  height: 1px;
  right: -3px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.form-wrap::after {
  width: 7px;
  height: 7px;
  right: 27px;
  border-radius: 50%;
  margin-top: -3px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.left-content.smaller .form-wrap::before {
  right: -15px;
}
.left-content.smaller .form-wrap::after {
  right: 16px;
}
@media (min-width: 1400px) {
  .action-wrap {
    padding: 10px 0 10px 100px;
    margin-bottom: 90px;
  }
  .action-head {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .action-head::before {
    width: 71px;
    left: -92px;
  }
  .action-text {
    padding-right: 10px;
    font-size: 18px;
    height: 144px;
  }
  .action-date,
  .action-more::before {
    font-size: 23px;
  }
  .action-more svg {
    width: 22px;
  }
  .form-wrap::before {
    width: 70px;
    right: -3px;
  }
  .form-wrap::after {
    right: 67px;
  }
  .left-content.smaller .form-wrap::before {
    right: -14px;
  }
  .left-content.smaller .form-wrap::after {
    right: 56px;
  }
}
.mCSB_inside>.mCSB_container {
  margin-right: 0;
}
.mCSB_scrollTools {
  left: 0;
}
.mCSB_scrollTools .mCSB_draggerRail::before,
.mCSB_scrollTools .mCSB_draggerRail::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  left: 5px;
}
.mCSB_scrollTools .mCSB_draggerRail::before {
  top: 0;
}
.mCSB_scrollTools .mCSB_draggerRail::after {
  bottom: 0;
}
@font-face {
  font-family: 'icons-desctop';
  src: url("fonts/icons-desctop.eot?47903682");
  src: url("fonts/icons-desctop.eot?47903682#iefix") format('embedded-opentype'), url("fonts/icons-desctop.woff2?47903682") format('woff2'), url("fonts/icons-desctop.woff?47903682") format('woff'), url("fonts/icons-desctop.ttf?47903682") format('truetype'), url("fonts/icons-desctop.svg?47903682#icons-desctop") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Vidaloka-Regular';
  src: url("fonts/Vidaloka-Regular.eot");
  src: local("☺"), url("fonts/Vidaloka-Regular.woff") format("woff"), url("fonts/Vidaloka-Regular.ttf") format("truetype"), url("fonts/Vidaloka-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-desctop";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-launch:before {
  content: '\e800';
}
.icon-infrastructure:before {
  content: '\e801';
}
.icon-interior:before {
  content: '\e802';
}
.icon-location:before {
  content: '\e803';
}
.icon-architecture:before {
  content: '\e804';
}
.icon-plans:before {
  content: '\e805';
}
.icon-download:before {
  content: '\e809';
}
.icon-tree:before {
  content: '\e80a';
}
.icon-left-arrow-g:before {
  content: '\e80b';
}
.icon-right-arrow-g:before {
  content: '\e80c';
}
.icon-dumbbell:before {
  content: '\e80d';
}
.icon-pdf-file-outlined-interface-symbol:before {
  content: '\e80e';
}
.icon-park:before {
  content: '\e80f';
}
@-webkit-keyframes blur-anim {
  100% {
    opacity: 0;
  }
}
@keyframes blur-anim {
  100% {
    opacity: 0;
  }
}
